version: '3.1'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql-service  # Nama untuk kontainer MSSQL
    restart: always
    environment:
      SA_PASSWORD: ${SA_PASSWORD}  # Ganti dengan password yang kuat
      ACCEPT_EULA: "Y"  # Setuju dengan lisensi
    ports:
      - "1433:1433"  # Memetakan port MSSQL ke port host
    volumes:
      - mssql_data:/var/opt/mssql 

volumes:
  mssql_data:
